@model CRM_Project.Models.RegisterViewModel

@{
    ViewData["Title"] = "Kayıt Ol";
}

<div asp-validation-summary="All" class="text-danger"></div>
<h2>Kayıt Ol</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" method="post">
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email Adresi</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Şifre</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Şifre Tekrar</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
        </form>
        <div class="mt-3">
            <span>Zaten hesabın var mı?</span>
            <a asp-action="Login">Giriş Yap</a>
        </div>
    </div>
</div>

